#inputsContainer {
    flex-direction: column;
    display: flex;
    overflow: hidden;
    background-color: white;
}

#inputsContainer button {
    cursor: pointer;
}

#entry_date {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--background);
    height: 30px;
    color: white;
    align-items: center;
    border-radius: 5px;
}

#entry_date .date_input {
    width: 20px;
    margin: 0 auto 0;
    border: none;
    background-color: transparent;
    text-align: center;
    color: white;
}

#inputsContainer select{
    border: none;
    background-color: var(--lightgray);
    height: 30px;
    border-radius: 5px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: .2s;
}

#inputsContainer select:hover{
    background-color: var(--gray);
}

#inputsContainer select:focus{
    outline: none;
}

#inputsContainerButton {
    border: none;
    background-color: var(--red);
    transform: rotate(45deg) scale(1);
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 0;
    margin-top: auto;
    transition: .2s;
}

#inputsContainerButton:hover {
    transform: scale(1.1) rotate(45deg);
}

#inputsContainerButton.ready {
    transform: rotate(0deg);
    background: var(--green);
}

#inputsContainerButton.ready:hover {
    transform: scale(1.1) rotate(0deg);
}

.toggle_provision{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: relative;
}

.toggle_provision input[type="radio"]{
    cursor: pointer;
    margin: 0 5px;
}

#provision_cut {
    display: none;
    position: absolute;
    bottom: -40px;
}

#provision:checked ~ #provision_cut {
    display: block;
}