#inputsContainer {
    flex-direction: column;
    display: flex;
    overflow: hidden;
    background-color: white;
}

#inputsContainer button{
    cursor: pointer;
}

#entry_date{
    display: grid;
    grid-template-columns: auto auto auto;
}

#entry_date .date_input{
    width: 50%;
    margin: 0 auto 0;
}
