#cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
  width: 100%;
}

#dashboard {
  display: grid;
  width: 100%;
  height: calc(100% - 100px);
  gap: 8px;
  grid-template-columns: 60% auto;
  grid-template-rows: 50% 50%;
}

.dashboard.section {
  background-color: white;
  border-radius: var(--sectionBorderRadius);
  padding: 8px;
  box-sizing: border-box;
}

.card {
  flex: 1;
  height: 80px;
  background-color: white;
  border-radius: var(--sectionBorderRadius);
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: scale(1);
  transition: 0.2s;
  user-select: none;
  cursor: pointer;
}

.card.active {
  background-color: var(--blue);
  color: white;
}

.card.active span {
  color: white;
}

.card:hover {
  transform: scale(1.04);
  transition: 0.2s;
}

.card_icon {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: var(--lightgray);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.value {
  font-size: larger;
  font-weight: 500;
  width: 70%;
  border-radius: 5px;
  padding: 0px 6px;
}

.card span {
  font-size: small;
  color: var(--darkestgray);
  border-radius: 5px;
  padding: 0px 4px;
}

.card_icon i {
  color: var(--darkblue);
}



.listContainer {
  overflow-y: scroll;
  height: 100%;
  border-radius: 8px;
}

.listedTotals {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.listContainer::-webkit-scrollbar {
  display: none;
}

.listContainerElement {
  display: flex;
  gap: 5px;
  height: 30px;
}

.listContainerElement .label {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--lightgray);
  color: black;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 500;
  user-select: none;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.listContainerElement .label:hover,
.listContainerElement .counter:hover {
  background-color: var(--gray);
}

.listContainerElement .profits {
  color: white;
  width: 50px;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 500;
  user-select: none;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.listContainerElement .profits:hover {
  width: 60px;
}



@media screen and (max-width: 1400px) {
  #cards {
    grid-template-columns: repeat(3, 2fr)
  }
}

@media screen and (max-width: 1100px) {
  #dashboard {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

/* Phone */
@media only screen and (max-width: 360px) {
  #sidebar {
    display: none;
  }

  #cards {
    grid-template-columns: repeat(2, 3fr)
  }

  #graph {
    height: 375px
  }

  .dashboard.section {
    max-height: none;
  }

  .listContainer {
    overflow: visible;
    height: 100%
  }

}