#dashboard {
  grid-template-columns: 70% auto;
  grid-template-rows: 50% 50%;
}

#dashboard_list_totals {
  flex-direction: column;
}

#cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
  width: 100%;
}

.dashboard.section {
  background-color: white;
  border-radius: var(--sectionBorderRadius);
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}

.dashboard.section.list {
  overflow: scroll;
}

.dashboard.section.list::-webkit-scrollbar {
  display: none;
}


.card {
  flex: 1;
  height: 80px;
  background-color: white;
  border-radius: var(--sectionBorderRadius);
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: scale(1);
  transition: 0.2s;
  user-select: none;
  cursor: pointer;
}

.card_icon {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: var(--lightgray);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.card .card_icon span{
  font-size: 30px;
  color: var(--background)
}

.card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  color: var(--darkbackground)
}

.card .value {
  font-size: larger;
  font-weight: 500;
  width: 70%;
  border-radius: 5px;
  padding: 0px 6px;
}

.card span {
  font-size: small;
  color: var(--darkestgray);
  border-radius: 5px;
  padding: 0px 4px;
}

.card_icon i {
  color: var(--darkblue);
}

@media screen and (max-width: 1512px) {
  #cards {
    grid-template-columns: repeat(4, 2fr)
  }

  .card span{
    font-size: 12px;
  }

  #dashboard {
    height: calc(100% - 184px);
    grid-template-columns: 70% auto;
    grid-template-rows: 1fr;
    grid-template-areas:
      'graph list';
  }

  #dashboard_list_totals {
    grid-area: list;
  }

  #dashboard_total_graph {
    grid-area: graph;
  }

  .dashboard.section.list {
    height: 50%;
  }
  
}

@media screen and (max-width: 360px) {
  #cards {
    grid-template-columns: repeat(2, 3fr)
  }

  #dashboard {
    display: flex;
    flex-direction: column;
  }

  #dashboard_total_graph {
    height: 375px
  }

  #dashboard_list_totals {
    grid-template-columns: 1fr;
  }

  .dashboard.section.list {
    height: 100%;
  }

}