.listHeaders {
    display: flex;
    gap: 10px;
    margin: 0;
    height: 40px;
    align-items: center;
    border-radius: var(--sectionBorderRadius);
    background-color: var(--background);
}

.listHeaders span {
    padding: 6px 10px;
    color: white;
    border-radius: 5px;
    font-size: 0.9em;
    transform: scale(1);
    transition: 0.2s;
    cursor: pointer;
    font-family: "DM Mono", monospace;
    user-select: none;
    position: relative;
}

.listHeaders span::after {
    font-family: 'Material Symbols Outlined';
    content: 'swap_vert';
    transition: .15s;
    position: absolute;
    right: 10%;
    top: 50%;
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    padding: 5px;
    border-radius: 5px;
}

.listHeaders span:hover::after {
    background-color: var(--darkbackground);
}

.entryContainer {
    display: flex;
    gap: 10px;
    border-radius: var(--sectionBorderRadius);
    position: relative;
    align-items: center;
}

.entryContainer:last-of-type,
.entryContainer.filter:last-of-type {
    margin-bottom: 0;
}

.entryContainer span {
    padding: 6px 10px;
    border-radius: 5px;
    font-family: "DM Mono", monospace;
    font-size: 0.9em;
    user-select: none;
    transform: scale(1);
    transition: 0.2s;
    background-color: var(--lightgray);
}

.entryContainer span:nth-child(1),
.listHeaders span:nth-child(1) {
    width: 80px;
}

.entryContainer span:nth-child(2),
.listHeaders span:nth-child(2) {
    flex: 1;
}

.entryContainer span:nth-child(3),
.listHeaders span:nth-child(3) {
    flex: 1;
}

.entryContainer span:nth-child(4),
.listHeaders span:nth-child(4) {
    width: 80px;
}

.entryContainer span:nth-child(5),
.listHeaders span:nth-child(5) {
    width: 80px;
}

.entryContainer span:nth-child(6) {
    width: 80px;
}

.listHeaders span:nth-child(6) {
    width: 115px;
}

.entryContainer span:hover {
    transform: translateX(6px);
    transition: 0.2s;
    background-color: var(--gray);
}

.entryContainer.deletable,
.entryContainer.editable {
    cursor: pointer;
    transition: 0.2s;
}

.entryContainer.editable.selected span {
    cursor: text;
}

.entryContainer.deletable span,
.entryContainer.editable span {
    background-color: var(--lightgray);
    color: black;
}

.entryContainer.deletable:hover span {
    background-color: var(--red) !important;
    text-decoration: line-through;
    color: white;
}

.entryContainer.editable:hover span {
    background-color: var(--yellow);
    color: white;
}

.entryContainer.deletable:hover span,
.entryContainer.editable:hover span {
    transform: none;
}

.entryContainer.selected span {
    background-color: var(--yellow);
}

.entryContainer.selected span:not(.entryContainer.selected span:last-of-type) {
    font-style: italic;
    color: white;
}

.checkBox {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 0;
}

.checkBox:hover {
    transform: scale(1.05);
    transition: 0.2s;
    opacity: 0.5;
}

@media screen and (max-width: 1512px){
    .listHeaders.wash span:last-of-type{
        width: 85px;
    }

    .listHeaders.wash, .entryContainer.wash{
        margin: 0 auto 0;
    }

    .entryContainer.wash span{
        width: 80px;
    }

    .entryContainer.wash span:last-of-type{
        width: 85px;
    }


}

@media screen and (max-width: 360px) {

    #entriesList {
        gap: 3px;
    }

    .listHeaders {
        background: transparent;
        height: auto;
        gap: 3px;
    }

    .listHeaders span {
        background: var(--background);
    }

    .listHeaders span::after {
        right: 2%;
        padding: 0;
    }

    .listHeaders span:nth-child(6) {
        margin: 0;
        width: 43px;
    }

    .entryContainer {
        padding: 0;
        gap: 3px;
        height: 15px;
    }

    .entryContainer .checkBox {
        height: 15px;
        width: 15px;
    }

    .entryContainer span,
    .listHeaders span {
        padding: 2px 4px;
        font-size: .5em;
        border-radius: 3px;
        width: 25px;
    }

    .entryContainer span:nth-child(1),
    .listHeaders span:nth-child(1) {
        width: 25px;
    }

    .entryContainer span:nth-child(2),
    .listHeaders span:nth-child(2) {
        min-width: 63px;
        flex: none;
    }

    .entryContainer span:nth-child(3),
    .listHeaders span:nth-child(3) {
        flex: 1
    }

    .entryContainer span:nth-child(4),
    .listHeaders span:nth-child(4) {
        width: 25px;
    }

    .entryContainer span:nth-child(5),
    .listHeaders span:nth-child(5) {
        width: 25px;
    }

    .entryContainer span:nth-child(6) {
        width: 25px;
    }

    .entryContainer span:hover {
        transform: translateX(0px);
        background-color: var(--lightgray);
    }

    .listHeaders.wash{
        width: 100%;
        gap: 5px;
    }

    .listHeaders.wash span{
        font-size: 0.9em;
        padding: 6px 10px;
        border-radius: 5px;
        width: 80px;
    }

    .listHeaders.wash span::after{
        right: 6%;
    }

    .listHeaders.wash span:last-of-type{
        width: 115px;
    }
}