.listHeaders {
    display: flex;
    gap: 10px;
    height: 40px;
    align-items: center;
    border-radius: var(--sectionBorderRadius);
    background-color: var(--darkblue);
    padding: 0px 6px;
}

.listHeaders span {
    padding: 6px 10px;
    color: white;
    border-radius: 5px;
    font-size: 0.9em;
    transform: scale(1);
    transition: 0.2s;
    cursor: pointer;
    font-family: "DM Mono", monospace;
}

.listHeaders span:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    transition: 0.2s;
}

.entryContainer {
    display: flex;
    gap: 10px;
    border-radius: var(--sectionBorderRadius);
    margin-bottom: 6px;
    padding: 0px 6px;
    position: relative;
}

.entryContainer:last-of-type,
.entryContainer.filter:last-of-type {
    margin-bottom: 0;
}

.entryContainer span {
    padding: 6px 10px;
    border-radius: 5px;
    font-family: "DM Mono", monospace;
    font-size: 0.9em;
    user-select: none;
    transform: scale(1);
    transition: 0.2s;
}

.entryContainer span:nth-child(1),
.listHeaders span:nth-child(1) {
    width: 80px;
}

.entryContainer span:nth-child(2),
.listHeaders span:nth-child(2) {
    flex: 1;
}

.entryContainer span:nth-child(3),
.listHeaders span:nth-child(3) {
    flex: 1;
}

.entryContainer span:nth-child(4),
.listHeaders span:nth-child(4) {
    width: 80px;
}

.entryContainer span:nth-child(5),
.listHeaders span:nth-child(5) {
    width: 80px;
}

.entryContainer span:nth-child(6),
.listHeaders span:nth-child(6) {
    width: 80px;
    margin-right: 40px;
}


.entryContainer span:hover {
    transform: translateX(6px);
    transition: 0.2s;
    background-color: var(--gray);
}

.entryContainer span {
    background-color: var(--lightgray);
}

.entryContainer.deletable,
.entryContainer.editable {
    cursor: pointer;
    transition: 0.2s;
}

.entryContainer.editable.selected span {
    cursor: text;
}

.entryContainer.deletable span,
.entryContainer.editable span {
    background-color: var(--lightgray);
    color: black;
}

.entryContainer.deletable:hover span {
    background-color: var(--red) !important;
    text-decoration: line-through;
    color: white;
}

.entryContainer.editable:hover span {
    background-color: var(--yellow);
    color: white;
}

.entryContainer.deletable:hover span,
.entryContainer.editable:hover span {
    transform: none;
}

.entryContainer.selected span {
    background-color: var(--yellow);
}

.entryContainer.selected span:not(.entryContainer.selected span:last-of-type) {
    font-style: italic;
    color: white;
}

.entryContainer .checkBox {
    background-color: var(--background);
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    opacity: 0.3;
}

.checkBox.checked {
    transform: scale(1);
    transition: 0.2s;
    opacity: 1;
}

.checkBox:hover {
    transform: scale(1.05);
    transition: 0.2s;
    opacity: 0.5;
}

@media screen and (max-width: 360px) {
    .entryContainer {
        padding: 0;
        gap: 3px;
        height: 15px;
        position: relative;
    }

    .entryContainer .checkBox {
        position: absolute;
        height: 15px;
        width: 15px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 0px;
    }

    .entryContainer span {
        padding: 2px 5px;
        font-size: .5em;
        border-radius: 3px;
    }

    .entryContainer span:nth-child(1) {
        width: 25px;
    }

    .entryContainer span:nth-child(2) {
        min-width: 70px;
        flex: none;
    }

    .entryContainer span:nth-child(3) {
        flex: 1
    }

    .entryContainer span:nth-child(4) {
        width: 22px;
    }

    .entryContainer span:nth-child(5) {
        width: 25px;
    }

    .entryContainer span:nth-child(6) {
        width: 22px;
        margin-right: 18px;
    }

    .entryContainer span:hover {
        transform: translateX(0px);
        background-color: var(--lightgray);
    }
}