:root {
  --background: #34495e;
  --darkbackground: #2c3e50;
  --green: #2ecc71;
  --darkgreen: #27ae60;
  --moneygreen: #4cd137;
  --darkmoneygreen: #44bd32;
  --yellow: #f1c40f;
  --darkyellow: #f39c12;
  --orange: #e67e22;
  --purple: #8e44ad;
  --red: #e74c3c;
  --darkred: #c0392b;
  --sick: #e95e50;
  --darksick: #d04436;
  --white: #f5f6fa;
  --lightgray: #ecf0f1;
  --gray: #bdc3c7;
  --darkgray: #aab0b3;
  --darkergray: #84898b;
  --darkestgray: #717577;
  --blue: #3498db;
  --darkblue: #2980b9;
  --paper: #f7f1e3;
  --sectionBorderRadius: 6px
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--lightgray);
}

body::-webkit-scrollbar{
  display: none;
}

#app {
  display: flex;
  gap: 10px;
  height: calc(100% - 20px);
  padding: 10px;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  background-color: white;
  border-radius: var(--sectionBorderRadius);
  gap: 50px;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
}

.pageContent {
  display: none;
  flex-direction: column;
  flex: 1;
  gap: 12px;
  box-sizing: border-box;
}

#dashboard_list_totals,
#table_list_totals {
  display: flex;
  width: 100%;
  gap: 12px;
  padding: 0;
  background-color: transparent;
  grid-template-rows: auto auto;
}

#table,
#dashboard {
  display: grid;
  gap: 12px;
  height: 100%;
}

.listedTotals {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
  overflow-y: scroll;
  border-radius: 5px;
}

.listedTotals::-webkit-scrollbar {
  display: none;
}

.listedTotalsContainer {
  background-color: var(--darkgray);
  color: white;
  border-radius: 5px;
  padding: 4px 8px;
  transition: 0.15s;
  cursor: pointer;
  user-select: none;
  letter-spacing: 3px;
}

.listedTotals .selected .label {
  background-color: var(--blue);
  color: white;
}

.listedTotals .listContainerElement .counts {
  background-color: var(--background);
  width: 24px;
}

.listContainerElement {
  display: flex;
  gap: 5px;
  height: 30px;
  color: white;
}

.listContainerElement .label {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--lightgray);
  color: black;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 500;
  user-select: none;
  transition: ease-in-out 0.15s;
  cursor: pointer;
  flex: 1;
}

.listContainerElement .label:hover {
  background-color: var(--gray);
}

.listContainerElement .profits,
.listContainerElement .counts {
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 500;
  user-select: none;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

@media screen and (max-width: 1512px) {
  #content {
    overflow: visible;
  }
}


@media screen and (max-width: 700px) {

  #app {
    flex-direction: column;
  }

  #content {
    flex-direction: column;
  }

  #dashboard:last-child,
  #table:last-child {
    margin-bottom: 20px;
  }

  #dashboard_list_totals,
  #table_list_totals {
    display: grid;
  }

  .dashboard.section.list {
    overflow: visible;
    height: 100%;
  }

  .listedTotals {
    font-size: 0.6em;
  }

  .listedTotals .listContainerElement span {
    padding: 6px;
  }

  .listedTotals .listContainerElement .profits {
    width: 30px;
  }

  .listedTotals .listContainerElement {
    height: 24px;
  }
}