:root {
  --background: #34495e;
  --darkbackground: #2c3e50;
  --green: #2ecc71;
  --darkgreen: #27ae60;
  --moneygreen: #4cd137;
  --darkmoneygreen: #44bd32;
  --yellow: #f1c40f;
  --darkyellow: #f39c12;
  --orange: #e67e22;
  --purple: #8e44ad;
  --red: #e74c3c;
  --darkred: #c0392b;
  --sick: #e95e50;
  --darksick: #d04436;
  --white: #f5f6fa;
  --lightgray: #ecf0f1;
  --gray: #bdc3c7;
  --darkgray: #aab0b3;
  --darkergray: #84898b;
  --darkestgray: #717577;
  --blue: #3498db;
  --darkblue: #2980b9;
  --paper: #f7f1e3;
  --sectionBorderRadius: 6px
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--lightgray);
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 190px;
  transition: .2s;
  background-color: white;
  position: relative;
}

#content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.pageContent {
  display: none;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 12px;
  box-sizing: border-box;
  margin: 18px;
}

#menubar {
  display: none;
  width: 100vw;
  height: 18px;
  background: var(--blue);
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

#menubar .nav {
  padding: 0;
  width: auto;
  margin: 0 20px
}


@media only screen and (max-width: 767px) {
  #menubar {
    display: flex;
  }

  #content {
    flex-direction: column;
  }
}