:root {
  --background: #34495e;
  --darkbackground: #2c3e50;
  --green: #2ecc71;
  --darkgreen: #27ae60;
  --moneygreen: #4cd137;
  --darkmoneygreen: #44bd32;
  --yellow: #f1c40f;
  --darkyellow: #f39c12;
  --orange: #e67e22;
  --purple: #8e44ad;
  --red: #e74c3c;
  --darkred: #c0392b;
  --sick: #e95e50;
  --darksick: #d04436;
  --white: #f5f6fa;
  --lightgray: #ecf0f1;
  --gray: #bdc3c7;
  --darkgray: #aab0b3;
  --darkergray: #84898b;
  --darkestgray: #717577;
  --blue: #3498db;
  --darkblue: #2980b9;
  --paper: #f7f1e3;
  --sectionBorderRadius: 6px
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--lightgray);
}

body::-webkit-scrollbar{
  display: none;
}

#app {
  display: flex;
  gap: 10px;
  height: calc(100% - 20px);
  padding: 10px;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  background-color: white;
  border-radius: var(--sectionBorderRadius);
  gap: 50px;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
}

.pageContent {
  display: none;
  flex-direction: column;
  flex: 1;
  gap: 12px;
  box-sizing: border-box;
}

#dashboard_list_totals,
#table_list_totals {
  display: flex;
  width: 100%;
  gap: 12px;
  padding: 0;
  background-color: transparent;
  grid-template-rows: auto auto;
}

#table,
#dashboard {
  display: grid;
  gap: 12px;
  height: 100%;
}

@media screen and (max-width: 1512px) {
  #content {
    overflow: visible;
  }

  .washSessionContainer.filter span:last-of-type{
    width: 85px;
  }
}

@media screen and (max-width: 360px) {

  #app {
    flex-direction: column;
  }

  #content {
    flex-direction: column;
  }

  #dashboard:last-child,
  #table:last-child {
    margin-bottom: 20px;
  }

  #dashboard_list_totals,
  #table_list_totals {
    display: grid;
  }

  .dashboard.section.list {
    overflow: visible;
    height: 100%;
  }
}