.sidebar_buttons.nav_buttons {
    display: flex;
    margin-top: 30px;
}

.sidebar_buttons {
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
}

@media screen and (min-width: 361px) {
    .sidebar_buttons .nav.active:not(#doneEditing)::before {
        content: '';
        position: absolute;
        left: -10px;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: var(--background);
    }

    .sidebar_buttons.nav_buttons::after,
    .sidebar_buttons.toolbar_buttons::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 130%;
        background-color: var(--lightgray);
        left: 50%;
        bottom: -25px;
        transform: translate(-50%);
    }
}

.sidebar_buttons .nav.active {
    background-color: var(--background);
    color: white;
}

.nav {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--darkbackground);
    border: 2px solid var(--darkbackground);
    border-radius: 10px;
    cursor: pointer;
    transition: .15s;
    transform: scale(1);
    user-select: none;
}

.nav:hover {
    transform: scale(1.07);
}

.nav:active {
    transform: scale(1.1);
}

#total_toggle.active {
    background-color: var(--darkbackground);
    color: white;
}

#doneEditing {
    display: none;
}

#wash{
    display: none;
}

#wash.shown{
    display: flex;
}

@media screen and (max-width: 360px) {

    #navbar {
        flex-direction: row;
        padding: 0;
        width: auto;
        min-height: 60px;
        gap: 30px;
        border-radius: 6px;
        justify-content: center;
    }

    .nav {
        width: 35px;
        height: 35px;
    }

    #navbar .nav_buttons {
        flex-direction: row;
        margin: 10px;
    }

    #navbar .total_toggle {
        flex-direction: row;
    }

    #navbar img,
    #navbar .sidebar_buttons.toolbar_buttons {
        display: none !important;
    }

    #navbar .sidebar_buttons.total_toggle {
        display: flex;
        justify-content: space-between;
    }
}