.table.content {
  display: grid;
  grid-template-columns: 250px auto 250px;
  gap: 12px;
  height: 100%;
}

.table.section {
  background-color: white;
  border-radius: var(--sectionBorderRadius);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
}

.table.section.rightTable {
  display: grid;
  grid-template-rows: 50% 50%;
}

#entriesList {
  flex: 1;
  overflow-y: scroll;
  border-radius: 8px;
  position: relative;
  border-radius: var(--sectionBorderRadius);
}

#entriesList::-webkit-scrollbar {
  display: none;
}

.entriesListLoader {
  box-sizing: border-box;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(50%) scale(2);
  color: var(--gray);
}

#changeMonths {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.currentMonthSpan {
  font-size: larger;
  width: 140px;
  text-align: center;
  cursor: pointer;
  background-color: var(--lightgray);
  border-radius: 14px;
  transform: scale(1);
  transition: 0.2s;
}

.currentMonthSpan:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.monthButtons {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkblue);
  color: white;
  transform: scale(1);
  transition: 0.2s;
  cursor: pointer;
}

.monthButtons:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.monthButtons.hidden {
  display: none;
}

.listHeaders {
  display: flex;
  gap: 10px;
  height: 40px;
  align-items: center;
  border-radius: var(--sectionBorderRadius);
  background-color: var(--darkblue);
  padding: 0px 6px;
}

.listHeaders span {
  padding: 6px 10px;
  color: white;
  border-radius: 5px;
  font-size: 0.9em;
  transform: scale(1);
  transition: 0.2s;
  cursor: pointer;
  font-family: "DM Mono", monospace;
}

.listHeaders span:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  transition: 0.2s;
}

.entryContainer {
  display: flex;
  gap: 10px;
  border-radius: var(--sectionBorderRadius);
  margin-bottom: 6px;
  padding: 0px 6px;
  position: relative;
}

.entryContainer span {
  padding: 6px 10px;
  border-radius: 5px;
  font-family: "DM Mono", monospace;
  font-size: 0.9em;
  user-select: none;
  transform: scale(1);
  transition: 0.2s;
}

.entryContainer span:nth-child(1),
.listHeaders span:nth-child(1) {
  width: 80px;
}

.entryContainer span:nth-child(2),
.listHeaders span:nth-child(2) {
  flex: 1;
}

.entryContainer span:nth-child(3),
.listHeaders span:nth-child(3) {
  flex: 1;
}

.entryContainer span:nth-child(4),
.listHeaders span:nth-child(4) {
  width: 80px;
}

.entryContainer span:nth-child(5),
.listHeaders span:nth-child(5) {
  width: 80px;
}

.entryContainer span:nth-child(6),
.listHeaders span:nth-child(6) {
  width: 80px;
  margin-right: 40px;
}


.entryContainer span:hover {
  transform: translateX(6px);
  transition: 0.2s;
  background-color: var(--gray);
}

.entryContainer span {
  background-color: var(--lightgray);
}

.entryContainer.deletable,
.entryContainer.editable {
  background-color: var(--lightgray);
  cursor: pointer;
  transition: 0.2s;
}

.entryContainer.deletable span,
.entryContainer.editable span {
  background-color: transparent;
}

.entryContainer.deletable:hover {
  background-color: var(--red);
}

.entryContainer.editable:hover {
  background-color: var(--yellow);
}

.entryContainer.deletable:hover span,
.entryContainer.editable:hover span {
  transform: none;
}

.entryContainer.selected {
  background-color: var(--yellow);
}

.entryContainer.selected span {
  font-style: italic;
}

.entryContainer .checkBox {
  background-color: var(--background);
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  margin-right: 6px;
  opacity: 0.3;
}

.checkBox.checked {
  transform: scale(1);
  transition: 0.2s;
  opacity: 1;
}

.checkBox:hover {
  transform: scale(1.05);
  transition: 0.2s;
  opacity: 0.5;
}

.pageContent.table {
  position: relative;
}

#actionButtons {
  margin-left: auto;
  margin-right: auto;
}

#actionButtons.hidden {
  display: none;
}

.actionButtons {
  background-color: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0px 10px;
  transform: scale(1);
  transition: all 0.15s;
}

.actionButtons.active {
  transform: scale(1.1);
}

#removeEntry.active {
  background-color: rgba(231, 76, 60, 0.5);
}

#editEntry.active {
  background-color: rgba(241, 196, 15, 0.5);
}

#openInput.active {
  background-color: rgba(46, 204, 113, 0.5);
}

#inputsContainer {
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  position: absolute;
  display: none;
  width: 50vw;
  max-width: 500px;
  flex-direction: column;
  z-index: 1;
  display: flex;
}

#inputsContainer.hidden {
  display: none;
}

#inputsContainer.banner {
  height: 20px;
}

.inputs {
  background-color: var(--white);
  border-radius: 0px 0px 15px 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selectContainer {
  display: none;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.selectContainer.active {
  display: flex;
}

.reopen {
  border: none;
  background-color: var(--darkgray);
  color: white;
  text-align: center;
  border-radius: 8px;
  transition: ease-in-out 0.2s;
}

.reopen:hover {
  background-color: var(--darkergray);
  transition: ease-in-out 0.2s;
}

.campaigns.selects.hidden {
  display: none;
}

.casinos.selects {
  display: none;
}

.inputs .campaigns.selects.hidden {
  display: none;
}

.inputs .campaigns.selects.open,
.inputs .casinos.selects.open {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.selects span {
  background-color: var(--gray);
  padding: 5px 16px;
  font-size: 1em;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
  user-select: none;
  transform: scale(1);
  transition: ease-in-out 0.2s;
}

.selects span:hover {
  background-color: var(--blue);
  color: white;
  transform: scale(1.05);
}

.selectContainer div {
  background-color: var(--background);
}

.selects span:hover {
  transition: ease-in-out 0.2s;
}

.selectedCasino,
.selectedCampaign {
  padding: 5px 16px;
  color: white;
  width: 130px;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.inputs button {
  cursor: pointer;
}

.amountInputs.hidden {
  display: none;
}

.amountInputs {
  display: flex;
  gap: 20px;
}

.inputs input {
  border: 2px solid var(--darkbackground);
  border-radius: 4px;
  background-color: transparent;
  height: 30px;
  width: 50%;
  padding: 5px 15px;
  text-align: center;
  font-size: 1.5em;
}

.inputs input::placeholder {
  font-style: italic;
}

.inputs input:focus {
  outline: none;
}

#inputsContainerButton {
  border: 3px solid var(--red);
  color: var(--red);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all 0.15s;
}

#inputsContainerButton:hover {
  transform: scale(1.1);
  transition: all 0.15s;
}

#toggleBarCategory {
  background-color: var(--background);
  color: white;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#quick_info {
  display: none;
}

.graphContainer {
  position: relative;
  user-select: none;
  display: flex;
}

.graphContainer div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doughnut.main {
  font-size: 2em;
}

.doughnut.sub {
  font-style: italic;
  font-size: 1em;
}

.addContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: var(--sectionBorderRadius);
  padding: 8px;
  overflow-y: auto;
}

.addContainer .header {
  background-color: var(--background);
  color: white;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
}

.addContainer .header:hover {
  background-color: var(--darkbackground);
}

.addList {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
  overflow-y: scroll;
  margin: 5px 0px;
  border-radius: 5px;
}

.addList::-webkit-scrollbar {
  display: none;
}

.addListContainer {
  background-color: var(--darkgray);
  color: white;
  border-radius: 5px;
  padding: 4px 8px;
  transition: 0.15s;
  cursor: pointer;
  user-select: none;
  letter-spacing: 3px;
}

.addListContainer span:last-child {
  width: 26px;
  text-align: center;
}

.addListContainer:hover {
  background-color: var(--darkergray);
  transition: 0.15s;
}

.addList .selected {
  background-color: var(--blue);
}

.addList .selected:hover {
  background-color: var(--darkblue);
}

.casinoContainer,
.campaignContainer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1530px) {
  .table.content {
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "middleTable middleTable"
      "lowerLeft lowerRight";
  }

  .table.section.middleTable {
    grid-area: middleTable;
  }


  .table.section.rightTable {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-area: lowerRight;
  }
}

@media screen and (max-width: 1000px) {
  .table.section.middleTable {
    min-width: 775px;
  }
}

@media screen and (max-width: 360px) {

  .table.content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "left"
      "middleTable"
      "right";
  }

  #entriesList {
    border-radius: 0px;
  }

  .table.section.middleTable {
    grid-area: middleTable;
    min-width: calc(100vw - 36px);
  }

  .table.section.leftTable {
    grid-area: left;
    flex-direction: row;
    gap: 10px;
  }

  .table.section.rightTable {
    grid-area: right;
    grid-template-columns: 1fr;
  }

  .listHeaders,
  #actionButtons,
  .graphContainer.monthBarChart,
  #toggleBarCategory,
  #changeMonths {
    display: none;
  }

  .entryContainer {
    padding: 0;
    gap: 3px;
    height: 15px;
    position: relative;
  }

  .entryContainer .checkBox {
    position: absolute;
    height: 15px;
    width: 15px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 0px;
  }

  .entryContainer span {
    padding: 2px 5px;
    font-size: .5em;
    border-radius: 3px;
  }

  .entryContainer span:nth-child(1) {
    width: 25px;
  }

  .entryContainer span:nth-child(2) {
    width: 60px;
    flex: none;
  }

  .entryContainer span:nth-child(3) {
    flex: 1
  }

  .entryContainer span:nth-child(4) {
    width: 22px;
  }

  .entryContainer span:nth-child(5) {
    width: 22px;
  }

  .entryContainer span:nth-child(6) {
    width: 22px;
    margin-right: 18px;
  }

  .graphContainer {
    width: 50%;
    font-size: .8em;
  }

  #quick_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #quick_info span {
    color: white;
    background: var(--blue);
    padding: 3px 16px;
    border-radius: 4px;
    width: 100px;
    text-align: center;
  }

  #quick_info button {
    border: none;
    background: var(--lightgray);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  #siteCampaign_list {
    margin-bottom: 50px;
  }

  .addList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
  }

  .addContainer .addListContainer {
    flex: 0 1 50%;
    box-sizing: border-box;
    padding-left: 6px;
    padding-right: 0px
  }

  .addContainer {
    padding: 0;
  }

  .addContainer span {
    font-size: 10px;
  }
}