#table {
  grid-template-columns: 300px 500px auto;
  grid-template-rows: 300px auto auto;
  grid-template-areas:
      'doughnut acc list'
      'changemonths totals list'
      'interval totals list'
      'interval totals statistics'
}

#inputsContainer {
  grid-area: totals;
}

#entry_list_container {
  grid-area: list;
}

#line_chart {
  grid-area: acc;
  cursor: pointer;
}

#interval_bar_chart{
  grid-area: interval;
}

#doughnut_chart {
  grid-area: doughnut;
}

#changeMonths{
  grid-area: changemonths;
}

#table_list_totals {
  grid-area: totals;
  flex-direction: column;
}

#statistics{
  grid-area: statistics;
  display: flex;
  align-items: center;
  gap: 0px;
}

.statistics {
  display: flex;
  flex-direction: row;
  gap: 10px;
  user-select: none;
}

.table.section.list {
  height: 50%;
}

.table.section {
  background-color: white;
  border-radius: var(--sectionBorderRadius);
  padding: 8px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#entriesList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow-y: scroll;
  border-radius: 8px;
  border-radius: var(--sectionBorderRadius);
}

#entriesList::-webkit-scrollbar {
  display: none;
}

#changeMonths {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.currentMonthSpan {
  font-size: larger;
  width: 140px;
  text-align: center;
  cursor: pointer;
  background-color: var(--lightgray);
  border-radius: 14px;
  transform: scale(1);
  transition: 0.2s;
}

#changeMonths button {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkblue);
  color: white;
  transform: scale(1);
  transition: 0.2s;
  cursor: pointer;
}

#changeMonths button:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

#changeMonths button.hidden {
  display: none;
}

#toggleBarCategory {
  background-color: var(--background);
  color: white;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#quick_info {
  display: none;
}

#quick_info .buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

#quick_info .buttons button {
  color: var(--background)
}

#quick_info .buttons button:disabled {
  opacity: .3;
  cursor: not-allowed;
}

#doughnut_chart .graphContainer {
  position: relative;
  user-select: none;
  display: flex;
}

#doughnut_chart .graphContainer div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doughnut.main {
  font-size: 2em;
}

.doughnut.sub {
  font-style: italic;
  font-size: 1em;
}

.monthList {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: var(--sectionBorderRadius);
  padding: 8px;
  overflow-y: auto;
}

@media screen and (max-width: 1512px) {
  #table {
    grid-template-columns: 300px 300px auto;
    grid-template-rows: 300px 66px auto 187px;
    grid-template-areas:
      'doughnut acc list'
      'changemonths totals list'
      'interval totals list'
      'interval totals statistics'
  }

  .table.section.list {
    height: 50%;
    width: auto;
    min-height: 200px;

  }

  #entry_list_container{
    min-width: 762px;
  }

  #table_list_totals {
    flex-direction: column;
  }

  #inputsContainer {
    grid-area: totals;
  }
}

@media screen and (max-width: 1278px){
  #table{
    grid-template-areas: 
    'doughnut acc interval'
    'changemonths changemonths changemonths'
    'statistics statistics statistics'
    'totals totals totals'
    'list list list';
  }

  #table_list_totals{
    flex-direction: row;
  }

  .table.section.list{
    width: 50%;
    min-height: auto;
  }
}

@media screen and (max-width: 360px) {

  #table {
    display: flex;
    flex-direction: column;
  }

  #entriesList {
    border-radius: 0px;
  }

  #entry_list_container {
    min-width: calc(100vw - 36px);
    gap: 5px;
  }

  #doughnut_chart {
    flex-direction: row;
  }

  .graphContainer.monthBarChart,
  #toggleBarCategory,
  #changeMonths {
    display: none;
  }

  .graphContainer {
    width: 50%;
    font-size: .8em;
  }

  #month_linechart {
    width: 324px !important;
    height: 324px !important;
  }

  #month_doughnut_profits {
    width: 162px !important;
    height: 162px !important;
  }

  #quick_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #quick_info .currentMonthSpan {
    color: white;
    background: var(--blue);
    padding: 3px 16px;
    border-radius: 4px;
    width: 100px;
    text-align: center;
  }

  #quick_info button {
    border: none;
    background: var(--lightgray);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  #table_list_totals{
    flex-direction: column;
  }

  .listContainer {
    width: 100%;
  }

  .monthList span {
    font-size: 10px;
  }

  .table.section.list {
    height: auto;
    min-height: auto;
    width: auto;
  }

}